canvas {
	margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    touch-action: none;
}

.background-color {
	background-color: #6495ED;
}

.background-color-black {
	background-color: #000000;
}

.title-text {
	font-size: 24px;
	text-align: center;
	border-width: 5px;
	border-style: inset;
	margin-top: 10px;
	background-color: #c9dcff ;
}

.instruction-box {
	border-style: ridge;
	border-width: 8px;
	margin-top: -5px;
	background-color: #c9dcff ;
}

.top-instruction {
	margin-top: 10px;
	margin-bottom: 8px;
}

.instruction-text {
	padding-left: 10px;
	margin-top: 5px;
}

.leaderboard-text {
	text-align: center;
}

.centered-text {
	text-align: center;
}

.scoreboard-text {
	padding-left: 25px;
}

.scoreboard-text-gold {
	padding-left: 25px;
	background-color: #ffd700;
}

.scoreboard-text-silver {
	padding-left: 25px;
	background-color: #c0c0c0;
}

.scoreboard-text-bronze {
	padding-left: 25px;
	background-color: #cd7f32;
}

.background-color-secondary {
	border-style: solid;
	border-width: 5px;
	background-color: #e5efff;
}