canvas {
	margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    touch-action: none;
}

.background-color {
	background-color: #6495ED;
}

.title-text {
	font-size: 24px;
	text-align: center;
	border-width: 5px;
	border-style: inset;
	margin-top: 10px;
	background-color: #c9dcff ;
}